<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="AzureBlobStorageConnection"
			 connectionString="DefaultEndpointsProtocol=https;AccountName=stdocprod001;AccountKey=MsXO0hVack6G6LgwE7EDQ7GADDazQiQS1Ml1Qy7HCNsjItgvkt6u2PX0pbwGR6oV/40kjnGY5KeegkIBFq1ebg==;EndpointSuffix=core.windows.net"
			 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="BlobContainerName" value="iko" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="BlobPrefixPath" value="export/extract/output" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>